@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin-left: 50px;
  font-family: "Quicksand";
  color: #333;
}
body{
    align-content: center;
    font-size: 20px;
}

table{
    width: 20%;
    border-color: #96D4D4;
}

table, th, td {
    border: 1px solid black;
}

td {
    border-radius: 2px;
}

/*public holidays*/
.January1, .February14, .April15, .April18, .May1, .May27, .June12, .July9, .October1, .October8, .December25, .December26{
    background-color: brown;
    color: white;
}

/*my birthday, moms birthday, dads birthday*/
.September20{
    background-color: gold;
    color: white;
}

.January7{
    background-color: pink;
    color: white;
}

.October7{
    background-color: silver;
    color: white;
}










